* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background-color: #435165;
  	margin: 0;
}
.login, .register, .forget, .reset {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.login h1, .register h1, .forget h1, .reset h1{
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links{
  	display: flex;
  	padding: 0 15px;
}
.login .links a, .register .links a {
  	color: #adb2ba;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
  	color: #9da3ac;
}
.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #329999;
  	color: #2f6277;
}
.login form, .register form, .forget form, .reset form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label, .register form label, .forget form label, .reset form label{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #329999;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"], .reset form input[type='password']{
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"], .forget form input[type="submit"], .reset form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #329999;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover, .forget form input[type='submit']:hover {
  	background-color: #2f6277;
  	transition: background-color 0.2s;
}
.navtop {
  	background-color: #203856;
  	height: 60px;
  	width: 100%;
  	border: 0;
  	position: fixed;
}

.navtop div {
  	display: flex;
  	margin: 0 auto;
  	width: 1000px;
  	height: 100%;
  	z-index: 500;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}
.navtop div h1 {
  	flex: 1;
  	font-size: 24px;
  	padding: 0;
 	margin: 0;
  	color: #eaebed;
  	font-weight: normal;
  	cursor: pointer;
}
.navtop div a {
  	padding: 0 20px;
  	text-decoration: none;
  	color: #c1c4c8;
  	font-weight: bold;
}
.navtop div a i {
  	padding: 2px 8px 0 0;
}
.navtop div a:hover {
  	color: #eaebed;
}

.vid {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: -1;
}

body.loggedin {
  	background-color: #c1c4c8;
}
.content {
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 120px;
  padding-right: 120px;
}
.content h2 {
  	margin: 0;
  	padding: 25px 0;
  	font-size: 22px;
  	color: #4a536e;
}
.content h3, h4, p {
  	margin: 0;
  	padding: 25px 0;
  	color: #fff;
}
.content > p, .content > div {
  	margin: 25px 0;
  	padding: 25px;
	background-color: rgba(93, 165, 209, 0.2);
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

div .things {
    margin-left: -80px;
    margin-right: -50px;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,183px);
    background: none;
    grip-gap: 25px;
}

div img {
    height: 210px;
    width: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}
.c1 {
  position: relative;
  width: 81%;
  height: 25%;
}
.c1:hover .overlay {
  opacity: 1;
  top: 390%;
}

.text {
  color: #020202;
  font-size: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
  -ms-transform: translate(100%, 100%);
  transform: translate(-50%, -50%);
}
.description {
    margin-top: 5px;
    margin-left: 10px;
    color: #020202;
    font-size: 10px;
}
.c2 {
  position: relative;
  width: 81%;
  height: 25%;
}
.o2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b3f903;
}
.c2:hover .o2 {
  opacity: 1;
  top: 100%;
}

.text2 {
  color: #1b1b1b;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
iframe {
    margin-left: -120px;
    width: 1263px;
    height: 560px;
    left: 0;
    top: 0;
}
div .info1 {
    width: 500px;
    height: auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    z-index: 5000;
    position: fixed;
    margin: -600px 300px;
    display: none;
}
.info1 img {
    width: 250px;
    height: auto;
}
.cancel {
    margin-right: -20px;
    margin-top: -25px;
}

a.more1:focus + div#if1 {
    display: flex;
}
