{% extends 'layout.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<h2>Welcome back, {{ username }}!</h2>
    <h2>Audit Log Entries:</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>User ID</th>
            <th>Event Type</th>
            <th>Details</th>
        </tr>
        <tr>
            <td colspan="6"><pre>{{ audit_data }}</pre></td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td><form method="POST" action="{{ url_for('admin') }}"><input type="submit" value="clear"></form></td>
        </tr>
    </table>
{% endblock %}
