{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome back, {{ username }}!</h2>



<!--            def trial():
                global tries
                tries += 1
                print(tries)
                if tries > 2:
                    msg = 'Account locked'
                else:
                    msg = 'Incorrect password/username'
                return render_template('index.html', msg=msg, form=formL)
            trial()


                    email = email.encode()
        hashpwd = bcrypt.generate_password_hash(password)
        email_key = Fernet.generate_key()
        email_fernet = Fernet(email_key)
        encrypted_email = email_fernet.encrypt(email)
        attempts = 0
        cursor = mysql.connection.cursor(MySQLdb.cursors.DictCursor)
        cursor.execute('INSERT INTO accounts VALUES (NULL, %s, %s, %s, %s, %s)', (username, hashpwd, encrypted_email, email_key, attempts,))
        mysql.connection.commit()
        msg = 'You have successfully registered!' -->
{% endblock %}
