{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome back, {{ username }}!</h2>



<!--
            class loginlimit:
                limit = 0
                msg = 'Incorrect username/password!!'
                def __init__(self):
                    loginlimit.limit += 1
                    print(loginlimit.limit)
                def locked(self):
                    if loginlimit.limit > 3:
                        msg = 'Account locked, approach admin.'
                        loginlimit.limit = 0
            loginlimit()
        #key = Fernet.generate_key()
        #with open("symmetric.key","wb") as fo:
        #    fo.write(key)
        #f = Fernet(key)
        #encrypted_email = f.encrypt(email) -->
{% endblock %}
