{% extends 'layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome back, {{ username }}!</h2>



<!--
<img class="vid" src="{{ url_for('static', filename='j.gif') }}" >
<h3>Recommended for You</h3>
<img style="width:auto; height:250px" src="{{ url_for('static', filename='herta.gif') }}" >
<img style="width:auto; height:250px" src="{{ url_for('static', filename='s2.gif') }}" >
<img style="width:auto; height:250px" src="{{ url_for('static', filename='k.gif') }}" >

<img style="width:200px; height:279px" src="{{ url_for('static', filename='h2.gif') }}" >
<img style="width:496px; height:279px" src="{{ url_for('static', filename='h.jpg') }}" >
<img style="width:292px; height:279px" src="{{ url_for('static', filename='herta.gif') }}" >
<br>
<img style="width:300px; height:279px" src="{{ url_for('static', filename='s2.gif') }}" >
<img style="width:496px; height:279px" src="{{ url_for('static', filename='sp.jpg') }}" >
<img style="width:192px; height:279px" src="{{ url_for('static', filename='sampo.gif') }}" >
<br>
<img style="width:604px; height:279px" src="{{ url_for('static', filename='j.gif') }}" >
<img style="width:389px; height:279px" src="{{ url_for('static', filename='jj.jpg') }}" >
<br>
<img style="width:497px; height:279px" src="{{ url_for('static', filename='kk.jpg') }}" >
<img style="width:496px; height:279px" src="{{ url_for('static', filename='k.gif') }}" > -->
{% endblock %}
