{% extends 'layout.html' %}
{% block title %}Tetris{% endblock %}
{% block content %}
<img class="vid" src="{{ url_for('static', filename='j.gif') }}" >
<span>
    <h3 style="font-size:80px; margin-top:80px; margin-left: -50px" >PLAVE</h3>
    <h4 style="margin-top:-20px; margin-left: -50px">Straykids Everywhere Around the World</h4>
    <p style="margin-top:-30px; margin-left: -50px">Dan Heng is coming home</p>
    <button style="width: 120px; height: 42px; margin-left: -50px; border-radius: 5px; border-color: #fff; background-color:#fff"><a href="{{ url_for('vjy') }}" style="text-decoration:none; color:#658f98"><i class='fas fa-play'></i> Play</a></button>
    <button style="width: 160px; height: 42px; border-radius: 5px; border-color:#4a536e; background-color: #4a536e; color: #fff">More Info</button>
</span>
<br>
<br>
<div class="things">
    <div class="c1" >
        <img src="{{ url_for('static', filename='sechs.jpg') }}" >
        <div class="overlay" style="background-color: #62b0dd">
            <div class="text" >
                <a href="{{ url_for('vone') }}" style="color: #3b3732" ><i class='fas fa-play' title="Play" ></i></a><a class="more1" ><i class='fas fa-chevron-down' style="color: #f5e9d2;padding-left: 40px; cursor: pointer" title="More Info"></i></a>
            </div><br>
            <div class="description" >
                <strong style="font-size:10px" >Lycoris Recoil</strong> <br>
                2022 13EP NC16
            </div>
        </div>
    </div>
    <div class="c1" >
        <img src="{{ url_for('static', filename='funf.jpg') }}" style="width:147.58px" >
        <div class="overlay" style="background-color: #62b0dd">
            <div class="text" >
                <a href="{{ url_for('vtwo') }}" style="color: #f0d554" ><i class='fas fa-play' title="Play" ></i></a><a class="more1" ><i class='fas fa-chevron-down' style="color: #75ceed;padding-left: 40px; cursor: pointer" title="More Info"></i></a>
            </div><br>
            <div class="description" >
                <strong style="font-size:10px" >Bocchi the Rock!</strong> <br>
                2022 12EP NC16
            </div>
        </div>
    </div>
    <div class="c1" >
        <img src="{{ url_for('static', filename='jjk.jpg') }}" >
        <div class="overlay" style="background-color: #62b0dd">
            <div class="text" >
                <a href="{{ url_for('vtre') }}" style="color: #30373d" ><i class='fas fa-play' title="Play" ></i></a><a class="more1" ><i class='fas fa-chevron-down' style="color: #f1f1f3;padding-left: 40px; cursor: pointer" title="More Info"></i></a>
            </div><br>
            <div class="description" >
                <strong style="font-size:10px" >Jujutsu Kaisen</strong> <br>
                2023 5EP NC16
            </div>
        </div>
    </div>
    <div class="c1" >
        <img src="{{ url_for('static', filename='fr.jpg') }}" style="width:148.57px" >
        <div class="overlay" style="background-color: #62b0dd">
            <div class="text" >
                <a href="{{ url_for('vdg') }}" style="color: #413f49" ><i class='fas fa-play' title="Play" ></i></a><a class="more1" ><i class='fas fa-chevron-down' style="color: #ba668e;padding-left: 40px; cursor: pointer" title="More Info"></i></a>
            </div><br>
            <div class="description" >
                <strong style="font-size:10px" >Free!</strong> <br>
                2013 1h 26m M18
            </div>
        </div>
    </div>
    <div class="c1" >
        <img src="{{ url_for('static', filename='sieben.jpg') }}" style="width:148.57px" >
        <div class="overlay" style="background-color: #62b0dd">
            <div class="text" >
                <a href="{{ url_for('vfai') }}" style="color: #3c653d" ><i class='fas fa-play' title="Play" ></i></a><a class="more1" ><i class='fas fa-chevron-down' style="color: #eca5a8;padding-left: 40px; cursor: pointer" title="More Info"></i></a>
            </div><br>
            <div class="description" >
                <strong style="font-size:10px" >SK8 the Infinity</strong> <br>
                2021 12EP NC16
            </div>
        </div>
    </div>
</div>
        <div class="info1" id="if1" >
            <div  class="infotxt">
            2022 13EP<strong>  NC16</strong> <br>
            Gal Pals, Action <br> <br>
            Reprimanded for ignoring orders during a mission, serious secret agent Takina gets transferred to a cafe and partners up with the plucky Chisato <br><br>
            <a href="{{ url_for('vone') }}" style="color: #ed5657" ><button style="width: 120px; height: 42px; border-radius: 5px; border-color: #ed5657; color:#fff; background-color:#ed5657"><i class='fas fa-play'></i> Play</button></a>
            </div>
            <img src="{{ url_for('static', filename='lr.jpg') }}" >
            <div class="cancel" >
                <i class="fas fa-window-close"></i>
            </div>
        </div>
{% endblock %}
