<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="private">
        <form method="post" action="{{ url_for('vdg') }}" autocomplete="off">
            <label>PIN:
                <input type="password" name="password" placeholder="PIN" minlength="4" maxlength="4" id="pin" required>
            </label>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Enter">
        </form>
    </div>
</body>
</html>
