<!DOCTYPE html>
<html>
<head>
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="verify">
        <h1>Enter the OTP</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li style="color: {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="{{ url_for('verify') }}" method="post">
            <input type="text" name="otp_code" placeholder="Enter OTP" required>
            <input type="submit" value="Verify">
        </form>
        <a href="{{ url_for('login') }}" style="color: #2f6277">Back to Login</a>
    </div>
</body>
</html>

