{% extends 'layout.html' %}
{% block title %}Jujutsu Kaisen{% endblock %}
{% block content %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/gcgKUcJKxIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/12usPU2WnqgCHAW1EK2dfd?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>{% endblock %}
